doctype html
html
  head
    meta(charset='utf-8')
    title Max Giron: Front-End Developer
    meta(name='description' content='A Portfolio of Web Design & Development')
    meta(name='author' content='Max Giron')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="apple-touch-icon" sizes="180x180" href="./dist/img/favicons/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./dist/img/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./dist/img/favicons/favicon-16x16.png")
    link(rel="manifest" href="./dist/img/favicons/site.webmanifest")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,600')
    link(rel='stylesheet', href='dist/css/styles.css')
  body
    block layout
    script(src="../../../dist/js/scripts.js")
